---
import { NAVIGATION, SOCIAL_MEDIA } from "../config";
import FooterLink from "./FooterLink.astro";
---

<footer
  class="border-t-4 border-accent-one border-solid text-text flex-initial md:h-40 mt-auto overflow-hidden md:overflow-auto h-fit pb-4 md:pb-0"
>
  <div class="max-w-128 mx-auto pt-0 md:pt-8 pb-4 px-0">
    <div class="ps-0">
      {
        NAVIGATION.map((x) => {
          return (
            <FooterLink href={x.path} class="">
              {x.label}
            </FooterLink>
          );
        })
      }
    </div>
    <div class="float-left md:float-right">
      <div>
        {
          SOCIAL_MEDIA.map((item) => {
            return (
              <FooterLink href={item.url} class="" aria-label={item.name}>
                {item.name}
              </FooterLink>
            );
          })
        }
      </div>
    </div>
  </div>
</footer>
