---
import PageWrapper from "./PageWrapper.astro";
import Tag from "../components/Tag.astro";
export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    hero: {
      alt?: string;
      src?: string;
    };
    tags: string[];
  };
}

const {
  content: { title, description, pubDate, hero, tags },
} = Astro.props;
---

<PageWrapper title={title} description={description}>
  <article>
    <div class="blog-post">
      <h1>{title}</h1>
      <div class="blog-post-date">{pubDate} </div>
      <div class="blog-post-content">
        {hero.src && <img src={hero.src} alt={hero.alt} />}
        <slot />
      </div>
      <!-- tags -->
      {tags && 
        <div class="tags-container">
          <div>
            <h3>Tagged</h3>
            {tags.map((item) => {
              return <Tag tag={item} />
            })}
            </div>
          </div>
      }
    </div>
  </article>
</PageWrapper>
