---
import BlogPostDate from "../components/BlogPostDate.astro";
import PageWrapper from "./PageWrapper.astro";
import Prose from "../components/Prose.astro";
import Tag from "../components/Tag.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    hero: {
      alt?: string;
      src?: string;
    };
    tags: string[];
  };
}

const {
  content: { title, description, pubDate, hero, tags },
} = Astro.props;

const sortedTags = Array.from(tags).sort((a, b) => {
  if (a.toLowerCase() < b.toLowerCase()) {
    return -1;
  } else if (a.toLowerCase() > b.toLowerCase()) {
    return 1;
  }
  // a must be equal to b
  return 0;
});
---

<PageWrapper title={title} description={description}>
  <Prose>
    <div class="">
      <h1>{title}</h1>
      <BlogPostDate pubDate={pubDate} />
      <div class="font-sans leading-relaxed">
        <div class="pr-2">
          {
            hero.src && (
              <img
                src={hero.src}
                alt={hero.alt}
                class="mb-4 not-prose border-none max-h-80 w-full"
              />
            )
          }
        </div>
        <slot />
      </div>
      <!-- tags -->
      {
        tags && (
          <>
            <h3>Tagged</h3>
            <div class="overflow-hidden mb-4">
              {sortedTags.map((item) => {
                return <Tag tag={item} />;
              })}
            </div>
          </>
        )
      }
    </div>
  </Prose>
</PageWrapper>
