---
import "@fontsource/montserrat/400.css";
import "@fontsource/montserrat/600.css";

import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import PageWrapper from "./PageWrapper.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
  };
}

const {
  content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;
---

<PageWrapper title={title} description={description}>
  <article>
    <div class="blog-post">
      <h1>{title}</h1>
      <div class="blog-post-date">{pubDate}</div>
      <div class="blog-post-content">
        {heroImage && <img width={720} height={360} src={heroImage} alt="" />}
        <slot />
      </div>
    </div>
  </article>
</PageWrapper>
