---
import PageWrapper from "./PageWrapper.astro";
import Tag from "../components/Tag.astro";
export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    hero: {
      alt?: string;
      src?: string;
    };
    tags: string[];
  };
}

const {
  content: { title, description, pubDate, hero, tags },
} = Astro.props;

const sortedTags = Array.from(tags).sort((a, b) => {
  if (a.toLowerCase() < b.toLowerCase()) {
    return -1;
  } else if (a.toLowerCase() > b.toLowerCase()) {
    return 1;
  }
  // a must be equal to b
  return 0;
});
---

<PageWrapper title={title} description={description}>
  <article>
    <div class="col-12 col-8-md">
      <div class="blog-post">
        <h1>{title}</h1>
        <div class="blog-post-date">{pubDate}</div>
        <div class="blog-post-content">
          <div class="p-right-1">
            {hero.src && <img src={hero.src} alt={hero.alt} />}
          </div>
          <slot />
        </div>
        <!-- tags -->
        {
          tags && (
            <>
              <h3>Tagged</h3>
              <div class="tag-container m-bottom-4">
                {sortedTags.map((item) => {
                  return <Tag tag={item} />;
                })}
              </div>
            </>
          )
        }
      </div>
    </div>
  </article>
</PageWrapper>
